.mc {
    font-family: MinecraftiaRegular;
}

#logo {
    padding: 2rem;
}

* {
    color: white;
}

li {
    list-style: disc;
}

body {
    background-image: url('https://i.redd.it/l2idgwv1e9n31.jpg');
    background-size: cover;
}

footer {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}

.whatsnewBody {
    color: black !important;
}